<settings>
    <setting propertyKey="@Properties.Theme" title="@Strings.Theme">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Kepler22b</listEntry>
            <listEntry value="1">@Strings.Kepler45b</listEntry>
            <listEntry value="2">@Strings.Kepler56d</listEntry>
            <listEntry value="3">@Strings.Kepler68b</listEntry>
        </settingConfig>
    </setting>
</settings>
